### Fundamental types

### Integers

Integer literals are created by any number without a decimal or complex component.

In [1]:
# integers
x = 1
print(x)
y=5
print(y)
y=7
print(y)

1
5
7

In [10]:
#Implicit Printing
print(5,2,"Hello",4)
print("That ends print demo for now")

5 2 Hello 4
That ends print demo for now

### Floats

Float literals can be created by adding a decimal component to a number.

In [15]:
# No concept of declaring variable types in Python
x = 1.0
y = 5.7
y=3
y=5.6
print(x)
print(y)

1.0
5.6

### Boolean

Boolean can be defined by typing True/False without quotes

In [17]:
# Case Sensitive. True is different from TRUE. Dynamic Typing
b1 = True0
print(b1)
b2 = False
b1 = 6
print(b1)

True
6

### Strings

String literals can be defined with any of single quotes ('), double quotes (") or triple quotes (''' or """). All give the same result with two important differences.

If you quote with single quotes, you do not have to escape double quotes and vice-versa.
If you quote with triple quotes, your string can span multiple lines.

In [21]:
a="Sayan"
b=5
print(type(b))
print(type(a))

<class 'int'>
<class 'str'>

In [18]:
# string
name1 = 'your name'
print(type(name1))
print(name1)
name2 = "He's coming to the party"
print(name2)
name3 = '''XNews quotes : "He's coming to the party"'''
print(name3)

<class 'str'>
your name
He's coming to the party
XNews quotes : "He's coming to the party"

### Variables

#### Definining

A variable in Python is defined through assignment. There is no concept of declaring a variable outside of that assignment.

In [8]:
tenth = 10
tenth

10

#### Dynamic Typing

In Python, while the value that a variable points to has a type, the variable itself has no strict type in its definition. You can re-use the same variable to point to an object of a different type. It may be helpful to think of variables as "labels" associated with objects.

In [4]:
ten = 10
print(ten)
print(type(ten))

10
<class 'int'>

In [3]:
ten = 'ten'
ten
type(ten)

str

#### Strong Typing

While Python allows you to be very flexible with your types, you must still be aware of what those types are. Certain operations will require certain types as arguments.

In [11]:
'Day ' + 1

TypeError: must be str, not int

In [52]:
print('Day ' + str(1))

Day 1
Day 1

## Simple Expressions

In [21]:
True and False

False

In [22]:
True or False

True

In [23]:
not True

False

In [24]:
not False

True

In [53]:
# Addition and subtraction
print(5 + 5)
print(5 - 5)

# Multiplication and division
print(3 * 5)
print(10 / 2)

# Exponentiation
print(4 ** 2)

# Modulo
print(18 % 7)

# How much is your $100 worth after 7 years?
print(100 * 1.1 ** 7)

10
0
15
5.0
16
4
194.87171000000012

## Branching (if / elif / else)

Python provides the if statement to allow branching based on conditions. Multiple elif checks can also be performed followed by an optional else clause. The if statement can be used with any evaluation of truthiness.

In [17]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
i=3
if i<3 :

Each line of code in a certain block level must be indented equally and indented more than the surrounding scope. The standard (defined in PEP-8) is to use 4 spaces for each level of block indentation. Statements preceding blocks generally end with a colon (:).

Because there are no semi-colons or other end-of-line indicators in Python, breaking lines of code requires either a continuation character (\ as the last char) or for the break to occur inside an unfinished structure (such as open parentheses).

### Lists

The first container type that we will look at is the list. A list represents an ordered, mutable collection of objects. You can mix and match any type of object in a list, add to it and remove from it at will.

Creating Empty Lists. To create an empty list, you can use empty square brackets or use the list() function with no arguments.

In [29]:
l = []
l

[]

In [30]:
l = list()
l

[]

In [5]:
l = ['a', 'b', 'c']
l

['a', 'b', 'c']

In [6]:
l[0]

'a'

In [32]:
l = ['a',6]
l

['a', 6]

In [7]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [8]:
areas[3]

18.0

In [9]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

In [10]:
house[1]

['kitchen', 18.0]

A Python string is also a sequence of characters and can be treated as an iterable over those characters. Combined with the list() function, a new list of the characters can easily be generated.

In [34]:
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

Adding. You can append to a list very easily (add to the end) or insert at an arbitrary index.

In [4]:
l = []
l.append('b')
print(l)
l.append('c')
print(l)
l.insert(1, 56)
l
#Implicit Printing

['b']
['b', 'c']

['b', 56, 'c']

## Printing a String

We can automatically display the output strings using Jupyter notebook with just a string in a cell. But,the correct way to display strings in your output is by using a print function.

In [58]:
# We can simply declare a string
'Hello World'

'Hello World'

In [59]:
# note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

In Python 2, the output of the below code snippet is displayed using "print" statement as shown in the below syntax but the same syntax will throw error in Python 3.

## String Basics

In Strings, the length of the string can be found out by using a function called len().

In [61]:
len('Hello World')

11

## String Indexing
We know strings are a sequence, which means Python can use indexes to call all the sequence parts. Let's learn how String Indexing works.
•	We use brackets [] after an object to call its index. 
•	We should also note that indexing starts at 0 for Python. 
Now, Let's create a new object called s and the walk through a few examples of indexing.

In [62]:
# Assign s as a string
s = 'Hello World'

In [63]:
#Check
s

'Hello World'

In [64]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [65]:
# Show first element (in this case a letter)
s[0]

'H'

In [66]:
s[1]

'e'

In [67]:
s[2]

'l'

We can use a : to perform *slicing* which grabs everything up to a designated point. For example:

In [68]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [69]:
# Note that there is no change to the original s
s

'Hello World'

In [70]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [71]:
#Everything
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [72]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [73]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

## String Properties

Immutability is one the finest string property whichh is created once and the elements within it cannot be changed or replaced. For example:

In [77]:
s

'Hello World'

In [79]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we can do is concatenate strings!

In [80]:
s

'Hello World'

In [81]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [82]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [83]:
print(s)

Hello World concatenate me!

In [84]:
s

'Hello World concatenate me!'

We can use the multiplication symbol to create repetition!

In [85]:
letter = 'z'

In [86]:
letter*10

'zzzzzzzzzz'

## Print Formatting

Print Formatting ".format()" method is used to add formatted objects to the printed string statements. 

Let's see an example to clearly understand the concept.

In [152]:
print('Insert another string with curly brackets: {}'.format('The inserted string'))
print('My first name is {0}. Last name is {1}'.format('Sayan','Dey'))

Insert another string with curly brackets: The inserted string
My first name is Sayan. Last name is Dey

### Indexing and Slicing
Indexing and slicing of lists works just like in Strings. Let's make a new list to remind ourselves of how this works:

In [111]:
my_list = ['one','two','three',4,5]

In [112]:
# Grab element at index 0
my_list[0]

'one'

In [113]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [114]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

We can also use "+" to concatenate lists, just like we did for Strings.

In [115]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

Note: This doesn't actually change the original list!

In [116]:
my_list

['one', 'two', 'three', 4, 5]

In this case, you have to reassign the list to make the permanent change.

In [117]:
# Reassign
my_list = my_list + ['add new item permanently']

In [118]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [11]:
'Zoo'*10

'ZooZooZooZooZooZooZooZooZooZoo'

In [ ]:
list

We can also use the * for a duplication method similar to strings:

In [119]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [120]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [155]:
# Append
l=[1,2,3]
l.append('append me!')

In [156]:
# Show
l

[1, 2, 3, 'append me!']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [157]:
# Pop off the 0 indexed item
l.pop(0)

1

In [158]:
# Show
l

[2, 3, 'append me!']

In [159]:
# Assign the popped element, remember default popped index is -1
popped_item = l.pop()

In [160]:
popped_item

'append me!'

In [161]:
# Show remaining list
l

[2, 3]

Note that lists indexing will return an error if there is no element at that index. For example:

In [162]:
l[100]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [163]:
new_list = ['a','e','x','b','c']

In [164]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [165]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [166]:
new_list

['c', 'b', 'x', 'e', 'a']

In [167]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [168]:
new_list

['a', 'b', 'c', 'e', 'x']

## Loops

In [12]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4,9]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val
    print("Printing")
    print(sum)

# Output: The sum is 48
print("The sum is", sum)

Printing
6
Printing
11
Printing
14
Printing
22
Printing
26
Printing
28
Printing
33
Printing
37
Printing
46
The sum is 46

In [204]:
# Program to add natural
# numbers upto 
# sum = 1+2+3+...+n

# To take input from the user,
n = int(input("Enter n: "))

#n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

Enter n: 50
The sum is 1275

In [205]:
print(range(10))

range(0, 10)

In [206]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [207]:
print(list(range(2, 8)))

[2, 3, 4, 5, 6, 7]

In [208]:
print(list(range(2, 20, 5)))

[2, 7, 12, 17]

We can use the range() function in for loops to iterate through a sequence of numbers. It can be combined with the len() function to iterate though a sequence using indexing. Here is an example.

In [209]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz','sapna']

# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz
I like sapna

## break and continue statement

In [20]:
list("string")

['s', 't', 'r', 'i', 'n', 'g']

In [210]:
# Use of break statement inside loop

for val in "string":
    if val == "i":
        break
    print(val)

print("The end")

s
t
r
The end

In [211]:
# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

# Dictionaries

In [51]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger = countries.index('germany')

# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

berlin

In [22]:
s='Hello'
s[0]='A'

TypeError: 'str' object does not support item assignment

In [23]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())
print(europe.values())

# Print out value that belongs to key 'norway'
print(europe['norway'])

dict_keys(['spain', 'france', 'germany', 'norway'])
dict_values(['madrid', 'paris', 'berlin', 'oslo'])
oslo

Note that dictionaries are very flexible in the data types they can hold. For example:

In [34]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
my_dict = {'key1':'123','key2':[12,23,33],'key3':['item0','item1','item2']}

In [31]:
#Let's call items from the dictionary
type(my_dict['key3'])

list

In [35]:
# Can call an index on that value
my_dict['key1'][0:2]

'12'

In [58]:
#Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

We can effect the values of a key as well. For instance:

In [59]:
my_dict['key1']

123

In [60]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [61]:
#Check
my_dict['key1']

0

In [62]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-123

In [67]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = { 'capital':'rome', 'population':59.83 }

# Add data to europe under key 'italy'
europe['italy'] = data

# Print europe
print(europe)

paris
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

## A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few methods:

In [68]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [69]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [70]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [36]:
(a,b)=(1,2)

In [37]:
a

1

In [ ]:
b

In [71]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [72]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn', 
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'australia':'vienna' }
          
# Iterate over europe
for key, value in europe.items() :
     print("the capital of " + str(key) + " is " + str(value))

the capital of spain is madrid
the capital of france is paris
the capital of germany is bonn
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of australia is vienna

In [74]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn', 
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'australia':'vienna' }
          
# Iterate over europe
for key, value in europe.items() :
     print("the capital of " + str(key) + " is " + str(value))

the capital of spain is madrid
the capital of france is paris
the capital of germany is bonn
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of australia is vienna

# Functions

In [75]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (doc-string) goes
    '''
    # Do stuff here
    #return desired result

You'll see the doc-string where you write the basic description of the function. Using iPython and iPython Notebooks, you'll be able to read these doc-strings by pressing Shift+Tab after a function name. It is not mandatory to include docstrings with simple functions, but it is a good practice to put them as this will help the programmers to easily understand the code you write

### Example 1: A simple print 'hello' function

In [76]:
def say_hello():
    print('hello')

Call the function

In [77]:
say_hello()

hello

### Example 2: A simple greeting function
Let's write a function that greets people with their name.

In [78]:
def greeting(name):
    print('Hello %s' %name)

In [79]:
greeting('Jose')

Hello Jose

## Using return
Let's see some examples that use a return statement. Return allows a function to "return" a result that can then be stored as a variable, or used in whatever manner a user wants.

### Example 3: Addition function

In [80]:
def add_num(num1,num2):
    return num1+num2

In [81]:
add_num(4,5)

9

In [82]:
# Can also save as variable due to return
result = add_num(4,5)

In [83]:
print(result)

9

In [87]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [9]:
?max